body{
    background-color:rgb(216, 216, 216);
}
.ID {
    
    padding: 40px;
    background-color: white;
    margin:20px ;
    


}
.header{
    background-color :lightslategray;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

.image{
    text-align: center;
}

.details{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}

.foot{
    text-align: center;
    
}
